<!DOCTYPE html>
<html>
<head>   
<title>ATLAS Showroom</title>
<style>
html, body {
  height: 100%;
  margin: 0;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.mySlides {display: none;}



.full-height100 {
  height: 100%;
  background: white;
 }
.full-height60 {
  height: 60%;
  background: white;
 }
  
.full-heigh40 {
  height: 40%;
  background: black;
}

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 55s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}




</style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
    <div class="mySlides">    
        <div class="full-height100"> 
            <div class="full-height60">
                <div class="fill">
                    <img src="https://lh3.googleusercontent.com/jyLkKYyY3Uv9IZ2q7fAaCHy2srDbmzwhG8OHy4wcabM-38_DVKVaiqwdUIphRd0fsPB2aaC_cQD-g3T-euhHFNi9sAD-jR4-vmCul1Q=w600" alt="" width="720" height="1280">
                </div>
            </div>  <br><br><br>
            <div class="full-height40">
                <div class="row">
                    <div class="col-sm-4"><img src="static/Northern Night Valley.png" width="200"></div>
                    <div class="col-sm-4"><img src="https://pbs.twimg.com/profile_images/1482346608910086148/l0wOBdU0_400x400.jpg" width="200"></div>
                    <div class="col-sm-4">
                        <h1>Northern Night Valley</h1>
                        <h2>Reaches of the mind</h2>
                        <br>
                        <h4>here was something magical about that night. The air, unaccustomed to it, is so fresh that it crashes into your lungs with a pleasant ache. It was so peaceful and quiet. Here, among the endless mountains and forest rivers, among the tall firs, whose branches are strewn with fragrant snow, you will never hear even the echoes of chaos. You will never hear the violent deaths of innocents, the explosions, the desperate cries of children.</h4>
                    </div>
                  </div>
            </div>
        </div>
    </div>   
    <div class="mySlides">    
        <div class="full-height100"> 
            <div class="full-height60">
                <div class="fill">
                    <img src="https://f8n-production-collection-assets.imgix.net/0xb9f8677Ee9aEE15971C2B56A6df08219a729F976/1/nft.png?q=80&auto=format%2Ccompress&cs=srgb&max-w=1680&max-h=1680" alt="" width="720" height="1280">
                </div>
            </div>  <br><br><br>
            <div class="full-height40">
                <div class="row">
                    <div class="col-sm-4"><img src="static/UA Army Girl.png" width="200"></div>
                    <div class="col-sm-4"><img src="https://pbs.twimg.com/profile_images/1482346608910086148/l0wOBdU0_400x400.jpg" width="200"></div>
                    <div class="col-sm-4">
                        <h1>UA Army Girl</h1>
                        <h2>The Depths Of My Subconscious</h2>
                        <br>
                        <h4>Self-portrait. Oil on canvas, size: A3. Time: two weeks.
    
    It's a surprisingly quiet morning.
    
    You are standing knee-deep in snow in some clearing. In your eyes everything is as foggy as it is outside. You do not understand how you got here. You turn around slowly, your gut feeling danger, like a true predator. What drives you? Hunger? Bloodlust? Or maybe... Fear?</h4>
                    </div>
                  </div>
            </div>
        </div>
    </div>   
    <div class="mySlides">    
        <div class="full-height100"> 
            <div class="full-height60">
                <div class="fill">
                    <img src="https://lh3.googleusercontent.com/ntllRXKkJN8oVkSSeToBomlbzca2RfYcNqoEuksDcInAqpMKMyCxdVtLNKRNjscGA6UqshM0Vt9BbOfhd3h7sZrd_VZ5-Js0v39R=w600" alt="" width="720" height="1280">
                </div>
            </div>  <br><br><br>
            <div class="full-height40">
                <div class="row">
                    <div class="col-sm-4"><img src="static/youonly.png" width="200"></div>
                    <div class="col-sm-4"><img src="https://pbs.twimg.com/profile_images/1374968831102349313/39dlTxSD_400x400.jpg" width="200"></div>
                    <div class="col-sm-4">
                        <h1>You only have one childhood</h1>
                        <h2>Save Ukraine by Art</h2>
                        <br>
                        <h4>A couple of days ago, on 24 February 2022, Ukrainians woke up in the middle of the night to the sounds of shelling. Russia launched a large-scale invasion to Ukraine and the ongoing Russian-Ukrainian War than began in 2014 has reached its boiling point. Our lives have turned upside down. You don't know anything about your future, not even your tomorrow.</h4>
                    </div>
                  </div>
            </div>
        </div>
    </div>   
    <div class="mySlides">    
        <div class="full-height100"> 
            <div class="full-height60">
                <div class="fill">
                    <img src="https://lh3.googleusercontent.com/n89NpKuhgs9Yot7Lo5JBjWyi3ph0Ia7QYtg2uiwWoKGS_PEfEO7ke-N0C4yoCsd3dl-IR6TY0OyhDKcDws-WYswEZhw0zRY7PQlqpA=w600" alt="" width="720" height="1280">
                </div>
            </div>  <br><br><br>
            <div class="full-height40">
                <div class="row">
                    <div class="col-sm-4"><img src="static/kat8.png" width="200"></div>
                    <div class="col-sm-4"><img src="static/kat.jpg" width="200"></div>
                    <div class="col-sm-4">
                        <h1>Kat Oleshko #9</h1>
                        <h2>Save Ukraine by Art</h2>
                        <br>
                        <h4>I was born in the central part of Ukraine, in a city called Kropyvnytskyi. When I was 13 my mom decided to move us to Kyiv. In 2014 I emigrated to Poland and since then, trips to the “motherland” became rare but also more priceless. As Walter Benjamin said: "the art of wandering" is a stable tradition of the emigrant. I feel elusive nostalgia and love for places that, perhaps, for the residents of the European Union will seem exotic. </h4>
                    </div>
                  </div>
            </div>
        </div>
    </div>   
    <div class="mySlides">    
        <div class="full-height100"> 
            <div class="full-height60">
                <div class="fill">
                    <img src="https://lh3.googleusercontent.com/1Ao0dxIJISzMDwpo8aXRnW4qjcAsWRBs256HMUUYPWmJl1Z2PtI0XFE1JVxsah3l8GbyaqjXpb5eaHTbF5fY9U-yUWNAmu1a91hfrw=w600" alt="" width="720" height="1280">
                </div>
            </div>  <br><br><br>
            <div class="full-height40">
                <div class="row">
                    <div class="col-sm-4"><img src="static/kat9.png" width="200"></div>
                    <div class="col-sm-4"><img src="static/kat.jpg" width="200"></div>
                    <div class="col-sm-4">
                        <h1>Kat Oleshko #8</h1>
                        <h2>Save Ukraine by Art</h2>
                        <br>
                        <h4>I was born in the central part of Ukraine, in a city called Kropyvnytskyi. When I was 13 my mom decided to move us to Kyiv. In 2014 I emigrated to Poland and since then, trips to the “motherland” became rare but also more priceless. As Walter Benjamin said: "the art of wandering" is a stable tradition of the emigrant. I feel elusive nostalgia and love for places that, perhaps, for the residents of the European Union will seem exotic.</h4>
                    </div>
                  </div>
            </div>
        </div>
    </div>   
    <div class="mySlides">    
        <div class="full-height100"> 
            <div class="full-height60">
                <div class="fill">
                    <img src="https://lh3.googleusercontent.com/Y9JmYoQdTBLvC8Uy-5cvMvaGoulwLcfNRhYyQf1XRPxZnDQtmCCeX8uc9SE3mqjGQycHwk8kUiSKO02TrczA7eJGQrWxaVlut9pcQOo=w600" alt="" width="720" height="1280">
                </div>
            </div>  <br><br><br>
            <div class="full-height40">
                <div class="row">
                    <div class="col-sm-4"><img src="static/No war, Yes yoga.png" width="200"></div>
                    <div class="col-sm-4"><img src="https://pbs.twimg.com/profile_images/1505986400080089094/u37ner7O_400x400.jpg" width="200"></div>
                    <div class="col-sm-4">
                        <h1>No war, Yes yoga</h1>
                        <h2>Woman pride</h2>
                        <br>
                        <h4>Now the women of my Ukraine have faced great trials. Women are required to have enormous female strength to save themselves and their children from war... To start life from scratch and in most cases without a man. Pray for Ukraine!</h4>
                    </div>
                  </div>
            </div>
        </div>
    </div>   
    <div class="mySlides">    
        <div class="full-height100"> 
            <div class="full-height60">
                <div class="fill">
                    <img src="https://lh3.googleusercontent.com/iOtbDwLtDyXGZOD7jy_TXXTUi0NwSIsPnP7v6mm5hp2OhP3lolud7YrlK3WGM6L0IoBP73UV4Tb8Gphxs0k4qW1Cqehl-IEBXFoT6A=w600" alt="" width="720" height="1280">
                </div>
            </div>  <br><br><br>
            <div class="full-height40">
                <div class="row">
                    <div class="col-sm-4"><img src="static/Protect your little girl.png" width="200"></div>
                    <div class="col-sm-4"><img src="https://pbs.twimg.com/profile_images/1505986400080089094/u37ner7O_400x400.jpg" width="200"></div>
                    <div class="col-sm-4">
                        <h1>Protect your little girl</h1>
                        <h2>Woman pride</h2>
                        <br>
                        <h4>The little girl inside the woman is the most precious thing. It is important to protect and support her in difficult moments of fear, shame, resentment. If it's hard, hug your little girl, give her what she needs most</h4>
                    </div>
                  </div>
            </div>
        </div>
    </div>   
    <div class="mySlides">    
        <div class="full-height100"> 
            <div class="full-height60">
                <div class="fill">
                    <img src="static/wodc.gif" alt="" width="720" height="1280">
                </div>
            </div>  <br><br><br>
            <div class="full-height40">
                <div class="row">
                    <div class="col-sm-4"><img src="static/Wind of desert city.png" width="200"></div>
                    <div class="col-sm-4"><img src="https://pbs.twimg.com/profile_images/1487762159383851016/2GdPENRY_400x400.jpg" width="200"></div>
                    <div class="col-sm-4">
                        <h1>Wind of desert city</h1>
                        <h2>Futurish</h2>
                        <br>
                        <h4>This is Waxon City's emblem. Most of the population are rebels against the power of corporations.</h4>
                    </div>
                  </div>
            </div>
        </div>
    </div>   
    <div class="mySlides">    
        <div class="full-height100"> 
            <div class="full-height60">
                <div class="fill">
                    <img src="https://lh3.googleusercontent.com/L868OUmcI1oncm3fOeHM824fUbaG6x_fnrkAw3Lo71qnW-SlchN95262CmgoKX742QQ9pes11OZ7QE_6fYtTqFbLUbW5bjNYh0pW=w600" alt="" width="720" height="1280">
                </div>
            </div>  <br><br><br>
            <div class="full-height40">
                <div class="row">
                    <div class="col-sm-4"><img src="static/Cyber pictures05.png" width="200"></div>
                    <div class="col-sm-4"><img src="https://pbs.twimg.com/profile_images/1487762159383851016/2GdPENRY_400x400.jpg" width="200"></div>
                    <div class="col-sm-4">
                        <h1>Cyber pictures #05</h1>
                        <h2>Cyber Room</h2>
                        <br>
                        <h4>This painting is from the Cyberpunk era</h4>
                    </div>
                  </div>
            </div>
        </div>
    </div>   
    <div class="mySlides">    
        <div class="full-height100"> 
            <div class="full-height60">
                <div class="fill">
                    <img src="static/ABSOLUTE.gif" alt="" width="720" height="1280">
                </div>
            </div>  <br><br><br>
            <div class="full-height40">
                <div class="row">
                    <div class="col-sm-4"><img src="static/ABSOLUTE.png" width="200"></div>
                    <div class="col-sm-4"><img src="https://pbs.twimg.com/profile_images/1483762377308913665/OKoTZeiM_400x400.jpg" width="200"></div>
                    <div class="col-sm-4">
                        <h1>ABSOLUTE</h1>
                        <h2>VISIONS</h2>
                        <br>
                        <h4>Absolute unification with higher consciousness. By observing the moment, we gain access to the higher energy. And with this energy we create the world.</h4>
                    </div>
                  </div>
            </div>
        </div>
    </div>   
    <div class="mySlides">    
        <div class="full-height100"> 
            <div class="full-height60">
                <div class="fill">
                    <img src="https://lh3.googleusercontent.com/B8_kjOlg669s9OLNv9hAKe1rVovRPM3lH0pETuf0rPevstmpcN651Et8b8o8VIvbUz5HkFVHFfX5h43YUkgI1ek4r7-Hnbj8iT4C=w600" alt="" width="720" height="1280">
                </div>
            </div>  <br><br><br>
            <div class="full-height40">
                <div class="row">
                    <div class="col-sm-4"><img src="static/Dill.png" width="200"></div>
                    <div class="col-sm-4"><img src="https://pbs.twimg.com/profile_images/1506995817898520581/e62gvUys_400x400.jpg" width="200"></div>
                    <div class="col-sm-4">
                        <h1>Dill</h1>
                        <h2>Ukrainian flowers</h2>
                        <br>
                        <h4>I miss Ukraine so much. It’s warm in my soul when I draw these flowers.</h4>
                    </div>
                  </div>
            </div>
        </div>
    </div>   
    
    

    <br><br><br>
<div style="text-align:center">
    <!--<span class="dot"></span> 
    <span class="dot"></span> 
    <span class="dot"></span> 
    <span class="dot"></span> 
    <span class="dot"></span> 
    <span class="dot"></span>-->
    <div><img src="static/atlas.jpg"  width="200"> </div>
</div>
<script>
    var slideIndex = 0;
    showSlides();
    
    function showSlides() {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      //var dots = document.getElementsByClassName("dot");
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";  
      }
      slideIndex++;
      if (slideIndex > slides.length) {slideIndex = 1}    
      /*for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
      }*/
      slides[slideIndex-1].style.display = "block";  
      //dots[slideIndex-1].className += " active";
      setTimeout(showSlides, 75000); // Change image every 7 seconds
    }
    </script>
</body>
</html>