<!DOCTYPE html>
<html>
<head>   
<title>ATLAS Showroom</title>
<style>
html, body {
  height: 100%;
  margin: 0;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.mySlides {display: none;}



.full-height100 {
  height: 100%;
  background: white;
 }
.full-height60 {
  height: 60%;
  background: white;
 }
  
.full-heigh40 {
  height: 40%;
  background: black;
}

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 55s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}




</style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
    <div class="mySlides">    
        <div class="full-height100"> 
            <div class="full-height60">
                <div class="fill">
                    <img src="static/apr/Boryoku.gif" alt="" width="720" height="1280">
                </div>
            </div>  <br><br><br>
            <div class="full-height40">
                <div class="row">
                    
                </div>
            </div>
        </div>
    </div>   
    <div class="mySlides">    
        <div class="full-height100"> 
            <div class="full-height60">
                <div class="fill">
                    <img src="static/apr/Catalina.gif" alt="" width="720" height="1280">
                </div>
            </div>  <br><br><br>
            <div class="full-height40">
                <div class="row">
                    
                </div>
            </div>
        </div>
    </div>   
    <div class="mySlides">    
        <div class="full-height100"> 
            <div class="full-height60">
                <div class="fill">
                    <img src="static/apr/Degen_Apes.gif" alt="" width="720" height="1280">
                </div>
            </div>  <br><br><br>
            <div class="full-height40">
                <div class="row">
                    
                </div>
            </div>
        </div>
    </div>   
    <div class="mySlides">    
        <div class="full-height100"> 
            <div class="full-height60">
                <div class="fill">
                    <img src="static/apr/DeGods.gif" alt="" width="720" height="1280">
                </div>
            </div>  <br><br><br>
            <div class="full-height40">
                <div class="row">
                    
                </div>
            </div>
        </div>
    </div>   
    <div class="mySlides">    
        <div class="full-height100"> 
            <div class="full-height60">
                <div class="fill">
                    <img src="static/apr/drippies_solana_miami_(1).gif" alt="" width="720" height="1280">
                </div>
            </div>  <br><br><br>
            <div class="full-height40">
                <div class="row">
                    
                </div>
            </div>
        </div>
    </div>   
    <div class="mySlides">    
        <div class="full-height100"> 
            <div class="full-height60">
                <div class="fill">
                    <img src="static/apr/Mini_Royale.gif" alt="" width="720" height="1280">
                </div>
            </div>  <br><br><br>
            <div class="full-height40">
                <div class="row">
                    
                </div>
            </div>
        </div>
    </div>   
    <div class="mySlides">    
        <div class="full-height100"> 
            <div class="full-height60">
                <div class="fill">
                    <img src="static/apr/Solana_Money_boys_vertical.gif" alt="" width="720" height="1280">
                </div>
            </div>  <br><br><br>
            <div class="full-height40">
                <div class="row">
                    
                </div>
            </div>
        </div>
    </div>   
    <div class="mySlides">    
        <div class="full-height100"> 
            <div class="full-height60">
                <div class="fill">
                    <img src="static/apr/Solana_Monkey_Business.gif" alt="" width="720" height="1280">
                </div>
            </div>  <br><br><br>
            <div class="full-height40">
                <div class="row">
                    
                </div>
            </div>
        </div>
    </div>   
    <div class="mySlides">    
        <div class="full-height100"> 
            <div class="full-height60">
                <div class="fill">
                    <img src="static/apr/solgods.gif" alt="" width="720" height="1280">
                </div>
            </div>  <br><br><br>
            <div class="full-height40">
                <div class="row">
                    
                </div>
            </div>
        </div>
    </div>   
    <div class="mySlides">    
        <div class="full-height100"> 
            <div class="full-height60">
                <div class="fill">
                    <img src="static/apr/Space_Runners.gif" alt="" width="720" height="1280">
                </div>
            </div>  <br><br><br>
            <div class="full-height40">
                <div class="row">
                    
                </div>
            </div>
        </div>
    </div>   
    <div class="mySlides">    
        <div class="full-height100"> 
            <div class="full-height60">
                <div class="fill">
                    <img src="static/apr/UNDER_CONSTRUCTION_HORIZONTAL.gif" alt="" width="720" height="1280">
                </div>
            </div>  <br><br><br>
            <div class="full-height40">
                <div class="row">
                    
                </div>
            </div>
        </div>
    </div>   
    <div class="mySlides">    
        <div class="full-height100"> 
            <div class="full-height60">
                <div class="fill">
                    <img src="static/apr/Untitled_design_(2).gif" alt="" width="720" height="1280">
                </div>
            </div>  <br><br><br>
            <div class="full-height40">
                <div class="row">
                    
                </div>
            </div>
        </div>
    </div>   
    <div class="mySlides">    
        <div class="full-height100"> 
            <div class="full-height60">
                <div class="fill">
                    <img src="static/apr/wobblebug_solana_miami.gif" alt="" width="720" height="1280">
                </div>
            </div>  <br><br><br>
            <div class="full-height40">
                <div class="row">
                    
                </div>
            </div>
        </div>
    </div>   
    <div class="mySlides">    
        <div class="full-height100"> 
            <div class="full-height60">
                <div class="fill">
                    <img src="static/apr/_0_Side_Panels_gaming.gif" alt="" width="720" height="1280">
                </div>
            </div>  <br><br><br>
            <div class="full-height40">
                <div class="row">
                    
                </div>
            </div>
        </div>
    </div>   
    <div class="mySlides">    
        <div class="full-height100"> 
            <div class="full-height60">
                <div class="fill">
                    <img src="static/apr/_1080_x_1920_DG_Labs_Collage.png" alt="" width="720" height="1280">
                </div>
            </div>  <br><br><br>
            <div class="full-height40">
                <div class="row">
                    
                </div>
            </div>
        </div>
    </div>   
    <div class="mySlides">    
        <div class="full-height100"> 
            <div class="full-height60">
                <div class="fill">
                    <img src="static/apr/_1080_x_1920_Dope_Pandas_Collage_1.png" alt="" width="720" height="1280">
                </div>
            </div>  <br><br><br>
            <div class="full-height40">
                <div class="row">
                    
                </div>
            </div>
        </div>
    </div>   
    <div class="mySlides">    
        <div class="full-height100"> 
            <div class="full-height60">
                <div class="fill">
                    <img src="static/apr/_1080_x_1920_Dope_Pandas_Collage_2.png" alt="" width="720" height="1280">
                </div>
            </div>  <br><br><br>
            <div class="full-height40">
                <div class="row">
                    
                </div>
            </div>
        </div>
    </div>   
    <div class="mySlides">    
        <div class="full-height100"> 
            <div class="full-height60">
                <div class="fill">
                    <img src="static/apr/_1080_x_1920_dope_panda_1.png" alt="" width="720" height="1280">
                </div>
            </div>  <br><br><br>
            <div class="full-height40">
                <div class="row">
                    
                </div>
            </div>
        </div>
    </div>   
    <div class="mySlides">    
        <div class="full-height100"> 
            <div class="full-height60">
                <div class="fill">
                    <img src="static/apr/_1080_x_1920_dope_panda_3.png" alt="" width="720" height="1280">
                </div>
            </div>  <br><br><br>
            <div class="full-height40">
                <div class="row">
                    
                </div>
            </div>
        </div>
    </div>   
    <div class="mySlides">    
        <div class="full-height100"> 
            <div class="full-height60">
                <div class="fill">
                    <img src="static/apr/_1080_x_1920_dope_panda_5.png" alt="" width="720" height="1280">
                </div>
            </div>  <br><br><br>
            <div class="full-height40">
                <div class="row">
                    
                </div>
            </div>
        </div>
    </div>   
    <div class="mySlides">    
        <div class="full-height100"> 
            <div class="full-height60">
                <div class="fill">
                    <img src="static/apr/_2.png" alt="" width="720" height="1280">
                </div>
            </div>  <br><br><br>
            <div class="full-height40">
                <div class="row">
                    
                </div>
            </div>
        </div>
    </div>   
    <div class="mySlides">    
        <div class="full-height100"> 
            <div class="full-height60">
                <div class="fill">
                    <img src="static/apr/_3.png" alt="" width="720" height="1280">
                </div>
            </div>  <br><br><br>
            <div class="full-height40">
                <div class="row">
                    
                </div>
            </div>
        </div>
    </div>   
    <div class="mySlides">    
        <div class="full-height100"> 
            <div class="full-height60">
                <div class="fill">
                    <img src="static/apr/_3d_art_gallery_1080_x_1920_1.png" alt="" width="720" height="1280">
                </div>
            </div>  <br><br><br>
            <div class="full-height40">
                <div class="row">
                    
                </div>
            </div>
        </div>
    </div>   
    <div class="mySlides">    
        <div class="full-height100"> 
            <div class="full-height60">
                <div class="fill">
                    <img src="static/apr/_3d_art_gallery_1080_x_1920_2.png" alt="" width="720" height="1280">
                </div>
            </div>  <br><br><br>
            <div class="full-height40">
                <div class="row">
                    
                </div>
            </div>
        </div>
    </div>   
    <div class="mySlides">    
        <div class="full-height100"> 
            <div class="full-height60">
                <div class="fill">
                    <img src="static/apr/_4.png" alt="" width="720" height="1280">
                </div>
            </div>  <br><br><br>
            <div class="full-height40">
                <div class="row">
                    
                </div>
            </div>
        </div>
    </div>   
    <div class="mySlides">    
        <div class="full-height100"> 
            <div class="full-height60">
                <div class="fill">
                    <img src="static/apr/_b.png" alt="" width="720" height="1280">
                </div>
            </div>  <br><br><br>
            <div class="full-height40">
                <div class="row">
                    
                </div>
            </div>
        </div>
    </div>   
    <div class="mySlides">    
        <div class="full-height100"> 
            <div class="full-height60">
                <div class="fill">
                    <img src="static/apr/_Chameleon.jpg" alt="" width="720" height="1280">
                </div>
            </div>  <br><br><br>
            <div class="full-height40">
                <div class="row">
                    
                </div>
            </div>
        </div>
    </div>   
    <div class="mySlides">    
        <div class="full-height100"> 
            <div class="full-height60">
                <div class="fill">
                    <img src="static/apr/_Giraffe.jpg" alt="" width="720" height="1280">
                </div>
            </div>  <br><br><br>
            <div class="full-height40">
                <div class="row">
                    
                </div>
            </div>
        </div>
    </div>   
    <div class="mySlides">    
        <div class="full-height100"> 
            <div class="full-height60">
                <div class="fill">
                    <img src="static/apr/_Hog_fish.JPG" alt="" width="720" height="1280">
                </div>
            </div>  <br><br><br>
            <div class="full-height40">
                <div class="row">
                    
                </div>
            </div>
        </div>
    </div>   
    <div class="mySlides">    
        <div class="full-height100"> 
            <div class="full-height60">
                <div class="fill">
                    <img src="static/apr/_Jellyfish.jpg" alt="" width="720" height="1280">
                </div>
            </div>  <br><br><br>
            <div class="full-height40">
                <div class="row">
                    
                </div>
            </div>
        </div>
    </div>   
    <div class="mySlides">    
        <div class="full-height100"> 
            <div class="full-height60">
                <div class="fill">
                    <img src="static/apr/_Joseph.jpg" alt="" width="720" height="1280">
                </div>
            </div>  <br><br><br>
            <div class="full-height40">
                <div class="row">
                    
                </div>
            </div>
        </div>
    </div>   
    <div class="mySlides">    
        <div class="full-height100"> 
            <div class="full-height60">
                <div class="fill">
                    <img src="static/apr/_Koala.jpg" alt="" width="720" height="1280">
                </div>
            </div>  <br><br><br>
            <div class="full-height40">
                <div class="row">
                    
                </div>
            </div>
        </div>
    </div>   
    <div class="mySlides">    
        <div class="full-height100"> 
            <div class="full-height60">
                <div class="fill">
                    <img src="static/apr/_Mahi.jpg" alt="" width="720" height="1280">
                </div>
            </div>  <br><br><br>
            <div class="full-height40">
                <div class="row">
                    
                </div>
            </div>
        </div>
    </div>   
    <div class="mySlides">    
        <div class="full-height100"> 
            <div class="full-height60">
                <div class="fill">
                    <img src="static/apr/_matrica-me-solanamiami-05.jpg" alt="" width="720" height="1280">
                </div>
            </div>  <br><br><br>
            <div class="full-height40">
                <div class="row">
                    
                </div>
            </div>
        </div>
    </div>   
    <div class="mySlides">    
        <div class="full-height100"> 
            <div class="full-height60">
                <div class="fill">
                    <img src="static/apr/_matrica-me-solanamiami-06.jpg" alt="" width="720" height="1280">
                </div>
            </div>  <br><br><br>
            <div class="full-height40">
                <div class="row">
                    
                </div>
            </div>
        </div>
    </div>   
    <div class="mySlides">    
        <div class="full-height100"> 
            <div class="full-height60">
                <div class="fill">
                    <img src="static/apr/_matrica-me-solanamiami-07.jpg" alt="" width="720" height="1280">
                </div>
            </div>  <br><br><br>
            <div class="full-height40">
                <div class="row">
                    
                </div>
            </div>
        </div>
    </div>   
    <div class="mySlides">    
        <div class="full-height100"> 
            <div class="full-height60">
                <div class="fill">
                    <img src="static/apr/_matrica-me-solanamiami-08.jpg" alt="" width="720" height="1280">
                </div>
            </div>  <br><br><br>
            <div class="full-height40">
                <div class="row">
                    
                </div>
            </div>
        </div>
    </div>   
    <div class="mySlides">    
        <div class="full-height100"> 
            <div class="full-height60">
                <div class="fill">
                    <img src="static/apr/_vertical_infinity_castle_merged_(1080_×_1920_px).gif" alt="" width="720" height="1280">
                </div>
            </div>  <br><br><br>
            <div class="full-height40">
                <div class="row">
                    
                </div>
            </div>
        </div>
    </div>   
    <div class="mySlides">    
        <div class="full-height100"> 
            <div class="full-height60">
                <div class="fill">
                    <img src="static/apr/_vertical_infinity_demon_merged_(1080_×_1920_px).gif" alt="" width="720" height="1280">
                </div>
            </div>  <br><br><br>
            <div class="full-height40">
                <div class="row">
                    
                </div>
            </div>
        </div>
    </div>   
    <div class="mySlides">    
        <div class="full-height100"> 
            <div class="full-height60">
                <div class="fill">
                    <img src="static/apr/_vertical_infinity_fallen_angel_merged_(1080_×_1920_px).gif" alt="" width="720" height="1280">
                </div>
            </div>  <br><br><br>
            <div class="full-height40">
                <div class="row">
                    
                </div>
            </div>
        </div>
    </div>   
    <div class="mySlides">    
        <div class="full-height100"> 
            <div class="full-height60">
                <div class="fill">
                    <img src="static/apr/_vertical_infinity_jellyfish_merged_(1080_×_1920_px).gif" alt="" width="720" height="1280">
                </div>
            </div>  <br><br><br>
            <div class="full-height40">
                <div class="row">
                    
                </div>
            </div>
        </div>
    </div>   
    <div class="mySlides">    
        <div class="full-height100"> 
            <div class="full-height60">
                <div class="fill">
                    <img src="static/apr/_vertical_infinity_magic_eden_hq_merged_(1080_×_1920_px).gif" alt="" width="720" height="1280">
                </div>
            </div>  <br><br><br>
            <div class="full-height40">
                <div class="row">
                    
                </div>
            </div>
        </div>
    </div>   
    

    
    <br><br><br>
<div style="text-align:center">
    <!--<span class="dot"></span> 
    <span class="dot"></span> 
    <span class="dot"></span> 
    <span class="dot"></span> 
    <span class="dot"></span> 
    <span class="dot"></span>-->
    <div><img src="static/atlas.jpg"  width="200"> </div>
</div>
<script>
    var slideIndex = 0;
    showSlides();
    
    function showSlides() {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      //var dots = document.getElementsByClassName("dot");
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";  
      }
      slideIndex++;
      if (slideIndex > slides.length) {slideIndex = 1}    
      /*for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
      }*/
      slides[slideIndex-1].style.display = "block";  
      //dots[slideIndex-1].className += " active";
      setTimeout(showSlides, 75000); // Change image every 7 seconds
    }
    </script>
</body>
</html>