<!DOCTYPE html>
<html>
<head>   
<title>ATLAS Showroom</title>
<style>
html, body {
  height: 100%;
  margin: 0;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.mySlides {display: none;}



.full-height100 {
  height: 100%;
  background: white;
 }
.full-height60 {
  height: 60%;
  background: white;
 }
  
.full-heigh40 {
  height: 40%;
  background: black;
}

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 55s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}




</style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
  <div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/114 Shut01.png" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                <div class="col-sm-4"><img src="static/shut01.png" width="200"></div>
                <div class="col-sm-4"><img src="static/white.png" width="200"></div>
                <div class="col-sm-4">
                    <h1>114 Shut01</h1>
                    <h2>114Shut</h2>
                    <br>
                    <h4>114 is the atomic number of a synthetic chemical element which is highly radioactive. Shut comes from making 114 plaster masks. Zero perception, forced to hold your breath, eyes closed, ready to look inside. This edition contains 5K generated unique NFTs.</h4>
                </div>
              </div>
        </div>
    </div>
</div>   
<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/114 Shut02.png" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                <div class="col-sm-4"><img src="static/shut02.png" width="200"></div>
                <div class="col-sm-4"><img src="static/white.png" width="200"></div>
                <div class="col-sm-4">
                    <h1>114 Shut02</h1>
                    <h2>114Shut</h2>
                    <br>
                    <h4>114 is the atomic number of a synthetic chemical element which is highly radioactive. Shut comes from making 114 plaster masks. Zero perception, forced to hold your breath, eyes closed, ready to look inside. This edition contains 5K generated unique NFTs.</h4>
                </div>
              </div>
        </div>
    </div>
</div>   
<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/114 Shut03.png" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                <div class="col-sm-4"><img src="static/shut03.png" width="200"></div>
                <div class="col-sm-4"><img src="static/white.png" width="200"></div>
                <div class="col-sm-4">
                    <h1>114 Shut03</h1>
                    <h2>114Shut</h2>
                    <br>
                    <h4>114 is the atomic number of a synthetic chemical element which is highly radioactive. Shut comes from making 114 plaster masks. Zero perception, forced to hold your breath, eyes closed, ready to look inside. This edition contains 5K generated unique NFTs.</h4>
                </div>
              </div>
        </div>
    </div>
</div>   
<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/ANYO9.jpeg" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                <div class="col-sm-4"><img src="static/anyo9.png" width="200"></div>
                <div class="col-sm-4"><img src="static/white.png" width="200"></div>
                <div class="col-sm-4">
                    <h1>ANYO9</h1>
                    <h2>ANYO Part 1</h2>
                    <br>
                    <h4>100 unique pieces of art divided into four collections. ANYO means shape. Shape of emotion. Sigbin in motion. Filipino folklore. Lore modernised. Looking at loife. Looking back at you. You looking at yourself.</h4>
                </div>
              </div>
        </div>
    </div>
</div>   
<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/ANYO10.jpeg" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                <div class="col-sm-4"><img src="static/anyo10.png" width="200"></div>
                <div class="col-sm-4"><img src="static/white.png" width="200"></div>
                <div class="col-sm-4">
                    <h1>ANYO10</h1>
                    <h2>ANYO Part 1</h2>
                    <br>
                    <h4>100 unique pieces of art divided into four collections. ANYO means shape. Shape of emotion. Sigbin in motion. Filipino folklore. Lore modernised. Looking at loife. Looking back at you. You looking at yourself.</h4>
                </div>
              </div>
        </div>
    </div>
</div>   
<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/ANYO15.jpeg" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                <div class="col-sm-4"><img src="static/anyo15.png" width="200"></div>
                <div class="col-sm-4"><img src="static/white.png" width="200"></div>
                <div class="col-sm-4">
                    <h1>ANYO15</h1>
                    <h2>ANYO Part 1</h2>
                    <br>
                    <h4>100 unique pieces of art divided into four collections. ANYO means shape. Shape of emotion. Sigbin in motion. Filipino folklore. Lore modernised. Looking at loife. Looking back at you. You looking at yourself.</h4>
                </div>
              </div>
        </div>
    </div>
</div>   
<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/ANYO23.jpeg" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                <div class="col-sm-4"><img src="static/anyo23.png" width="200"></div>
                <div class="col-sm-4"><img src="static/white.png" width="200"></div>
                <div class="col-sm-4">
                    <h1>ANYO23</h1>
                    <h2>ANYO Part 1</h2>
                    <br>
                    <h4>100 unique pieces of art divided into four collections. ANYO means shape. Shape of emotion. Sigbin in motion. Filipino folklore. Lore modernised. Looking at loife. Looking back at you. You looking at yourself.</h4>
                </div>
              </div>
        </div>
    </div>
</div>   
<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/ANYO25.jpeg" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                <div class="col-sm-4"><img src="static/anyo25.png" width="200"></div>
                <div class="col-sm-4"><img src="static/white.png" width="200"></div>
                <div class="col-sm-4">
                    <h1>ANYO25</h1>
                    <h2>ANYO Part 1</h2>
                    <br>
                    <h4>100 unique pieces of art divided into four collections. ANYO means shape. Shape of emotion. Sigbin in motion. Filipino folklore. Lore modernised. Looking at loife. Looking back at you. You looking at yourself.</h4>
                </div>
              </div>
        </div>
    </div>
</div>   
<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/BK993.jpg" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                <div class="col-sm-4"><img src="static/bk993.png" width="200"></div>
                <div class="col-sm-4"><img src="static/white.png" width="200"></div>
                <div class="col-sm-4">
                    <h1>BK993</h1>
                    <h2>Bad Kids</h2>
                    <br>
                    <h4>Bad Kids is a collection of 9,999 bad drawings of bad kids</h4>
                </div>
              </div>
        </div>
    </div>
</div>   
<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/BK1027.jpg" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                <div class="col-sm-4"><img src="static/bk1027.png" width="200"></div>
                <div class="col-sm-4"><img src="static/white.png" width="200"></div>
                <div class="col-sm-4">
                    <h1>BK1027</h1>
                    <h2>Bad Kids</h2>
                    <br>
                    <h4>Bad Kids is a collection of 9,999 bad drawings of bad kids</h4>
                </div>
              </div>
        </div>
    </div>
</div>   
<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/BK1061.jpg" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                <div class="col-sm-4"><img src="static/bk1061.png" width="200"></div>
                <div class="col-sm-4"><img src="static/white.png" width="200"></div>
                <div class="col-sm-4">
                    <h1>BK1061</h1>
                    <h2>Bad Kids</h2>
                    <br>
                    <h4>Bad Kids is a collection of 9,999 bad drawings of bad kids</h4>
                </div>
              </div>
        </div>
    </div>
</div>   
<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/BK1536.jpg" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                <div class="col-sm-4"><img src="static/bk1536.png" width="200"></div>
                <div class="col-sm-4"><img src="static/white.png" width="200"></div>
                <div class="col-sm-4">
                    <h1>BK1536</h1>
                    <h2>Bad Kids</h2>
                    <br>
                    <h4>Bad Kids is a collection of 9,999 bad drawings of bad kids</h4>
                </div>
              </div>
        </div>
    </div>
</div>   
<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/Choad6367.png" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                <div class="col-sm-4"><img src="static/Choad6367q.png" width="200"></div>
                <div class="col-sm-4"><img src="static/white.png" width="200"></div>
                <div class="col-sm-4">
                    <h1>Choad6367</h1>
                    <h2>starchoadz✨</h2>
                    <br>
                    <h4>From the immoral mind of @BarfStar come forth the interstellar space lickin, star jumpin, gal humpin Starchoadz ⚛️</h4>
                </div>
              </div>
        </div>
    </div>
</div>   
<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/Choad6377.png" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                <div class="col-sm-4"><img src="static/Choad6377q.png" width="200"></div>
                <div class="col-sm-4"><img src="static/white.png" width="200"></div>
                <div class="col-sm-4">
                    <h1>Choad6377</h1>
                    <h2>starchoadz✨</h2>
                    <br>
                    <h4>From the immoral mind of @BarfStar come forth the interstellar space lickin, star jumpin, gal humpin Starchoadz ⚛️</h4>
                </div>
              </div>
        </div>
    </div>
</div>   

    

    <br><br><br>
<div style="text-align:center">
    <!--<span class="dot"></span> 
    <span class="dot"></span> 
    <span class="dot"></span> 
    <span class="dot"></span> 
    <span class="dot"></span> 
    <span class="dot"></span>-->
    <div><img src="static/atlas.jpg"  width="200"> </div>
</div>
<script>
    var slideIndex = 0;
    showSlides();
    
    function showSlides() {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      //var dots = document.getElementsByClassName("dot");
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";  
      }
      slideIndex++;
      if (slideIndex > slides.length) {slideIndex = 1}    
      /*for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
      }*/
      slides[slideIndex-1].style.display = "block";  
      //dots[slideIndex-1].className += " active";
      setTimeout(showSlides, 75000); // Change image every 7 seconds
    }
    </script>
</body>
</html>