<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="{}" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                <div class="col-sm-4"><img src="static/{}" width="200"></div>
                <div class="col-sm-4"><img src="{}" width="200"></div>
                <div class="col-sm-4">
                    <h1>{}</h1>
                    <h2>{}</h2>
                    <br>
                    <h4>{}</h4>
                </div>
              </div>
        </div>
    </div>
</div>   