<!DOCTYPE html>
<html>
<head>   
<title>ATLAS Showroom</title>
<style>
html, body {
  height: 100%;
  margin: 0;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.mySlides {display: none;}



.full-height100 {
  height: 100%;
  background: white;
 }
.full-height60 {
  height: 60%;
  background: white;
 }
  
.full-heigh40 {
  height: 40%;
  background: black;
}

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 55s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}




</style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/MG 1644.png" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/MG 148.png" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/MG 659.png" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/MG 2033.jpg" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/12321312.png" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/3725.png" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/6944059d-e122-4b76-9f38-86e443d63073.jpg" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/unnamed.png" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/MG 929.jpg" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/1e231421-b20f-4d36-ab2f-52e212987448.png" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/VerticalBestBudsAnimation.gif" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/ofcollage.png" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/IMG_9427.png" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/infinity_fallen_angel_merged.gif" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/205c2125-9bea-4420-97dd-2f28fbd52229.jpg" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/MG 383.jpg" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/of3.png" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/1553101C-0FB6-4F61-9408-04D92AFE3EBE.png" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/2548.png" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/Ihb_XmW4MgFGzdVBsvsJ-F1tAoTHkVR0rvPd0OIdK5U.png" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/1756.jpg" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/266.png" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/3dartgallery1920x10802.png" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/eb4268b0-a426-40d5-b25f-1b9f329172a0.jpg" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/MG 487.png" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/DB 2141.png" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/4360.jpg" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/MG 1435.jpg" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/650+Epoch+Video.gif" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/25be48fa-244d-47b2-9b17-b0cf5241c732.jpg" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/Screenshot_2022-02-08_at_12.48.37.png" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/1920x1080dopepanda6.png" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/of1920x1080dopepanda3.png" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/1920x1080dopepandacollage1.png" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/aIUHOAxlq-LRj1FKGv7BPRxHbM1OCh-dy39e9HloubY.png" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/IMG_4756.jpg" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/of2.png" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/MG 1580.jpg" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/2d8fc664-3ee9-4a26-9679-b9ded1f140d9.jpg" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/Monkeylazer.png" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/C5F8FED9-72EA-4C1B-B936-288CF5910A36.jpg" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/4ae001e0-6e35-4dd9-b683-9acd87771e53.jpg" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/89f248c3-0bea-44fe-aecd-3a94aeb958e9.jpg" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/MG 465.jpg" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/4152.jpg" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/of4.png" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/3074.jpg" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/3638.jpg" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/15_DegenApes.gif" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/1920x1080dopepanda2.png" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/36953078-0de2-49e1-934a-1640b05a2e5b.jpg" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/2555.jpg" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/wGChHSDTXTP9oAtTaYh9s8j1MRE0IPmYtH5greqWwZ4.png" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/of1920x10803dpandacollage2.png" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/71F6E4D2-8A5D-4348-9FF2-ED610094C2FD.jpg" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/SMB_2836.png" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/1920x1080dopepanda5.png" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/3538.jpg" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/a90f0f57-07ee-4d39-9481-30ed1b8fe70e.jpg" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/MG 1263.jpg" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/2_Solgods.gif" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/864.jpg" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/c6fef723-de0d-47a5-b53c-2579473342aa.jpg" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/SMB_102.png" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/MG 1854.png" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/3060.jpg" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/1061.jpg" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/MG 324.png" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/4924A2BE-D7DD-4F93-82B4-2B5BC26E1C0E.jpg" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/20_GORECATS_NFTLA.gif" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/854E353E-5B41-44BA-B5CC-08CD4136D38E.jpg" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/cmS4iwNw_400x400.png" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/MG 459.jpg" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/1281BEB9-8B59-437E-A7F0-223F9917A3E4_1_201_a.jpeg" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/BEF4594F-7BBB-4176-937E-981009724785.png" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/1920x1080dopepanda4.png" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/infinity_castle_merged.gif" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/MG 318.png" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/1920x10803dpanda1.png" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/4267.jpg" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/e3fa69f1-192d-45fc-a0e3-eb5c2298bb19.jpg" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/MG 1024.jpg" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/3201.png" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/e563182f-ebb5-4f1e-b4aa-ec43a4845b2b.jpg" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/03abcce7-d5bf-4f8e-904f-34c95ee01fd7.jpg" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/MG 876.jpg" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/44_WobblebugMusicandVIsuals.gif" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/2100.jpg" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/150.png" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/655DA35D-7DF1-4120-B97C-BECE3A877D9F.png" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/2598.jpg" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/Monke_1742.png" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/of3dartgallery1920x10801.png" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/infinity_magic_eden_hq_merged.gif" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/Screenshot_2022-02-08_at_12.48.54.png" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/1920x10803dpandacollage3.png" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/Screenshot_2022-02-08_at_12.48.16.png" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/MG 1067.jpg" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/MG.jpg" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/of5.png" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/1370.png" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/6f3688f7-4ae9-4aaa-8ca0-d7c8cc418040.jpg" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/MG 1711.png" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/3858.jpg" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/infinity_jellyfish_merged.gif" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/3763.jpg" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/IMG_2225.png" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/4ec01ece-47d5-4363-9d78-a2f3d319e95d.png" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/MG 872.png" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/SMB_1958.png" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/MG 186.png" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/2f1f6487-79bd-4df9-afd6-22977c81b388.jpg" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/MG 1939.png" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/740446f4-1a71-4607-97a8-3132f9375665.jpg" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/MG 871.jpg" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/eacf2cb1-0e6f-48d4-a616-3cfeab1fee3c.png" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/1378.jpg" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/infinity_demon_merged.gif" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/IMG_2610.png" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/1722.jpg" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/270e43eb-87a2-415d-8a5b-900b4c00bccf.jpg" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/photo1651679996.jpeg" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/1661.png" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/781d581c-2d76-4278-93bf-9c21c828eabf.png" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   

<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/si/5279AA74-AECA-4D45-A38F-86FEE2619A10.jpg" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>   


<br><br><br>
<div style="text-align:center">
    <!--<span class="dot"></span> 
    <span class="dot"></span> 
    <span class="dot"></span> 
    <span class="dot"></span> 
    <span class="dot"></span> 
    <span class="dot"></span>-->
    <div><img src="static/atlas.jpg"  width="200"> </div>
</div>
<script>
    var slideIndex = 0;
    showSlides();
    
    function showSlides() {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      //var dots = document.getElementsByClassName("dot");
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";  
      }
      slideIndex++;
      if (slideIndex > slides.length) {slideIndex = 1}    
      /*for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
      }*/
      slides[slideIndex-1].style.display = "block";  
      //dots[slideIndex-1].className += " active";
      setTimeout(showSlides, 3000); // Change image every 7 seconds
    }
    </script>
</body>
</html>