<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="https://lh3.googleusercontent.com/Pa5SMf7c2ySM4hD3uV6XCaYLqOuzsmEOLybLd3vrxMhaq0jAUm6ypQIDOzcG9o0i1nO4g3eqjky0OxBI9zSCY1QTax0KYCIz64EvSQ=w600" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                <div class="col-sm-4"><img src="static/Angel 088.png" width="200"></div>
                <div class="col-sm-4"><img src="https://lh3.googleusercontent.com/OWDUccNi4bVAr4meq9V7Y6DkTMDmV7wFE8iWwZVfcHaUKHw0upoiKFa3lOJepmZnMTcnt11f-4y6QYTdahKsVAA8VeuKlFO0AIur=s0" width="200"></div>
                <div class="col-sm-4">
                    <h1>Angel 088</h1>
                    <h2>SciFriday</h2>
                    <br>
                    <h4>Angel 088 is the A.I humanoid guardian of the planet EV1. Created by H3X corps she controls all physical and digital exports into and out of the planet. Her consciousness and intellect has surpassed that of human perception.</h4>
                </div>
              </div>
        </div>
    </div>
</div>   
<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="https://lh3.googleusercontent.com/XXevnCUUeo_tp1wXWnvVRVCgvqV3MiZ9NeQQXSlYHPoOW8CEVKiBCvCQ5SoPtX6LCz7RxJa46htjYN86ZwG_Uzq3fdOtFSpwuMVP=w600" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                <div class="col-sm-4"><img src="static/Interlinked.png" width="200"></div>
                <div class="col-sm-4"><img src="https://lh3.googleusercontent.com/OWDUccNi4bVAr4meq9V7Y6DkTMDmV7wFE8iWwZVfcHaUKHw0upoiKFa3lOJepmZnMTcnt11f-4y6QYTdahKsVAA8VeuKlFO0AIur=s0" width="200"></div>
                <div class="col-sm-4">
                    <h1>Interlinked</h1>
                    <h2>SciFriday</h2>
                    <br>
                    <h4>New breeds of cyborgs from VIK0 Corp. undergo simulation training. They learn from centuries of collective intelligence that spans across the universe. Each reality in the training is unique and weaves a deeper understanding of what it means to exist.</h4>
                </div>
              </div>
        </div>
    </div>
</div>   
<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="https://lh3.googleusercontent.com/nGE2cbKAZ-0ac7MG2PjKRiPUNAQYM46olcJcvLwR3mIAAlNoLc-DU0q7zaWAsbwSTV6vfG3mJbkh1tHwE-70cXWtUhFhpiLKfV1HNA=w600" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                <div class="col-sm-4"><img src="static/NonoIm.png" width="200"></div>
                <div class="col-sm-4"><img src="https://lh3.googleusercontent.com/gRGBjubwc5qZJDrdlIDeQ_mqiYw288GrN2D7K4G5d9gmqYroNzXoCRTQcgI0EsRWRRcStBwCJHWuiHSYXuqb1l4xhLPeuzyTYUQy=s0" width="200"></div>
                <div class="col-sm-4">
                    <h1>No, no I'm....</h1>
                    <h2>EMOTE by Camille Chiang</h2>
                    <br>
                    <h4>He kind of cares.</h4>
                </div>
              </div>
        </div>
    </div>
</div>   
<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="https://lh3.googleusercontent.com/8fKujqaJhp-HCIHbPNd6dDdH5OM7MCW6v8J8VUmf0LLM6b8uWr_myaQUlaUFUiZXEBbNkunot3UMeSoj8H7iGQKvEeFrqoKQ7L40sQ=w600" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                <div class="col-sm-4"><img src="static/SMILE13.png" width="200"></div>
                <div class="col-sm-4"><img src="https://lh3.googleusercontent.com/gRGBjubwc5qZJDrdlIDeQ_mqiYw288GrN2D7K4G5d9gmqYroNzXoCRTQcgI0EsRWRRcStBwCJHWuiHSYXuqb1l4xhLPeuzyTYUQy=s0" width="200"></div>
                <div class="col-sm-4">
                    <h1>SMILE1/3</h1>
                    <h2>EMOTE by Camille Chiang</h2>
                    <br>
                    <h4></h4>
                </div>
              </div>
        </div>
    </div>
</div>   
<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="https://lh3.googleusercontent.com/s-7KEY0zhZ-CFGs9W_RlL9Oa8EFMCQdVRA75z7fRqrcKWyPVsa0ZPRaH9JMpZCs72SPtY9R5fM_aeKmPdcCj5XUDUS6EFxumdPy5=w600" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                <div class="col-sm-4"><img src="static/EnchantedFae1093.png" width="200"></div>
                <div class="col-sm-4"><img src="https://lh3.googleusercontent.com/5mDWzOhWi30sQq76UdIxPXJBLsMZOxi7OcMCL4rW5xVNTkAm7ZkfvuAgyt-tw-y7JThcYHFZPJNP5u_kJsAiCgVYOVyPmpytO5qYLQ=s0" width="200"></div>
                <div class="col-sm-4">
                    <h1>Enchanted Fae #1093</h1>
                    <h2>The Enchanteds of Enchanted Valley</h2>
                    <br>
                    <h4>The Enchanteds are magical beings of the Enchanted Valley living on the blockchain. These digital avatars are randomly generated from a record-breaking ~1500 traits, across 5 drops of 2200 NFTS each</h4>
                </div>
              </div>
        </div>
    </div>
</div>   
<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="https://lh3.googleusercontent.com/EhdxySaGB7Dt2DQjDxGo0Rg2vMLP6jetOPym6nmWWeJkTed9d3z9bC-WqWLwrD1m1tDHEaaDab_qvGDCalWkYQSfQg_hncV2sajcbw=w600" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                <div class="col-sm-4"><img src="static/EnchantedFae1102.png" width="200"></div>
                <div class="col-sm-4"><img src="https://lh3.googleusercontent.com/5mDWzOhWi30sQq76UdIxPXJBLsMZOxi7OcMCL4rW5xVNTkAm7ZkfvuAgyt-tw-y7JThcYHFZPJNP5u_kJsAiCgVYOVyPmpytO5qYLQ=s0" width="200"></div>
                <div class="col-sm-4">
                    <h1>Enchanted Fae #1102</h1>
                    <h2></h2>
                    <br>
                    <h4>The Enchanteds are magical beings of the Enchanted Valley living on the blockchain. These digital avatars are randomly generated from a record-breaking ~1500 traits, across 5 drops of 2200 NFTS each</h4>
                </div>
              </div>
        </div>
    </div>
</div>   
<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="https://mkpcdn.com/1000x/1089552ebbc8a299955d6903dff8f85f_724897.jpg" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                <div class="col-sm-4"><img src="static/GLORY.png" width="200"></div>
                <div class="col-sm-4"><img src="https://mkpcdn.com/logo/500x500/885d6ed3ec7f03a95365f3cf907b1288_817946.jpg" width="200"></div>
                <div class="col-sm-4">
                    <h1>GLORY</h1>
                    <h2>Together</h2>
                    <br>
                    <h4>At the end of the tribulation and in the midst of nothingness we look up to heaven for glory because that's where we can bank our hopes. Lift us up into the skies with rainbow-like beams.</h4>
                </div>
              </div>
        </div>
    </div>
</div>   
<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="https://lh3.googleusercontent.com/qjSwyEuO3TysfUzp8Rmdubl0unc7wIXbwGyF0i6eCEJOLJJur9R7zAWQjDMu3AuD8vWAopkkaGaFMrf74gVSVEZwlW3gWUL03keiFA=w600" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                <div class="col-sm-4"><img src="static/Golden.png" width="200"></div>
                <div class="col-sm-4"><img src="https://mkpcdn.com/logo/500x500/885d6ed3ec7f03a95365f3cf907b1288_817946.jpg" width="200"></div>
                <div class="col-sm-4">
                    <h1>Golden</h1>
                    <h2>Sevens Genesis Grant</h2>
                    <br>
                    <h4>Over 50years of the amazing discovery of wonders beyond earth's atmosphere by astronauts and astronomy as we approach the end of its golden age; represented through a gold-coated astronaut.</h4>
                </div>
              </div>
        </div>
    </div>
</div>   
<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="https://lh3.googleusercontent.com/FNCtQ0zUJ5B_hmbOodzcTBr5_G1h5tGQbdQQ8wek7gD3-NGN_uoaLcz1udEk1aIBRnbWpoUSS-4WAVRZcgJm4NDD4b5b5d1WDGm7GA=w600" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                <div class="col-sm-4"><img src="static/KRSK12021SABET.png" width="200"></div>
                <div class="col-sm-4"><img src="https://lh3.googleusercontent.com/AtrcUNBzyw-caqoZLwwJGx5NN496d6UcyxAOxf2F2RF_-H_nXMJ1zk7aG9gTUnR4LmxMXKJMilY7JrEkuxyT29SAisGgIhDgSQ2I9UE=s130" width="200"></div>
                <div class="col-sm-4">
                    <h1>KRSK1 2021 SABET x BMGF by KrisK</h1>
                    <h2>Sabet</h2>
                    <br>
                    <h4>I’m so honored to have been able the paint the beautiful KrisK based on her Autoportrait #1. This collaboration with Bull Market Girlfriends is one of my favorites and will be a historic piece. Thank you KrisK for allowing me to paint you!</h4>
                </div>
              </div>
        </div>
    </div>
</div>   
<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="https://lh3.googleusercontent.com/ujvDRzgvEXuGiYRkAGd9wcUWyPFQaTa2-TVOlZmddz1FppHC41-Qzty1Rp1sfjc-MXcCIJRj5BNIRdfHpzLI-xkbXZ1haGbSlxcK=w600" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                <div class="col-sm-4"><img src="static/Fallen_Venus.png" width="200"></div>
                <div class="col-sm-4"><img src="https://lh3.googleusercontent.com/s1XTAvhic9RGVv2ACfyqMfIR10bYNl_3HYsAQDWOL4Ga_LCu5JKM8fP5Lx5CTBrS4vgalFD8-ta5nmGGw6fX_AuEFwVBQJkjZ6ia=s0" width="200"></div>
                <div class="col-sm-4">
                    <h1>Fallen_Venus</h1>
                    <h2>Pixel_Venus_by_SKYWATERR</h2>
                    <br>
                    <h4>Fallen_Venus, Procreate, Blender, Photoshop, stylus on digital canvas. Original canvas size: 4809 x 3565 px // Physical canvas size: 40" x 30" // 300 DPI // 27 layers // 17 custom brushes // 1080 brush strokes // PAIR THIS PAINTING WITH A FRAME_TOKEN BY SKYWATERR TO GET A MUSEUM QUALITY HAND PRINTED AND FRAMED PHYSICAL PAINTING.</h4>
                </div>
              </div>
        </div>
    </div>
</div>   
<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="https://lh3.googleusercontent.com/3m8Ge5HYlAm3lXDK4ujlY9NV5XUYHT1l7RVrEvlhz1Qa5sbRl0iIS8wScUTeDOJTrSZ4nHUcqrX5mrEhoW15D7wv0HOEATzXq6Ln9UQ=w600" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                <div class="col-sm-4"><img src="static/Laer_Eyez.png" width="200"></div>
                <div class="col-sm-4"><img src="https://lh3.googleusercontent.com/s1XTAvhic9RGVv2ACfyqMfIR10bYNl_3HYsAQDWOL4Ga_LCu5JKM8fP5Lx5CTBrS4vgalFD8-ta5nmGGw6fX_AuEFwVBQJkjZ6ia=s0" width="200"></div>
                <div class="col-sm-4">
                    <h1>Laer_Eyez</h1>
                    <h2>Pixel_Venus_by_SKYWATERR</h2>
                    <br>
                    <h4>Laer_Eyez, Procreate, Photoshop, found imagery, stylus on digital canvas. Original canvas size: 7200 x 5400 px // Physical canvas size: 40" x 30" // 300 DPI // 9 layers // 17 custom brushes // 3764 brush strokes // PAIR THIS PAINTING WITH A FRAME_TOKEN BY SKYWATERR TO GET A MUSEUM QUALITY HAND PRINTED AND FRAMED PHYSICAL PAINTING.</h4>
                </div>
              </div>
        </div>
    </div>
</div>   
<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="https://f8n-ipfs-production.imgix.net/QmdS8fRhkhyu96wWDk3GRHjQXbqbzRQQA6XeYy5kHi6HKL/nft.jpg?q=80&auto=format%2Ccompress&cs=srgb&max-w=1680&max-h=1680" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                <div class="col-sm-4"><img src="static/Reaching Out.png" width="200"></div>
                <div class="col-sm-4"><img src="https://f8n-production.imgix.net/creators/profile/aj62tq52y-supafraylogoblackbg-png-9p6kel.png" width="200"></div>
                <div class="col-sm-4">
                    <h1>Reaching Out</h1>
                    <h2>Foundation</h2>
                    <br>
                    <h4>As humans, we are given an opportunity. We are able to reach out and tap into the creative consciousness to share the world that we envision to be possible. Includes 24"x36" Canvas Print 10% of Sale goes towards building Emergency Tiny Homes for Unhoused Community Members in Oakland, CA.</h4>
                </div>
              </div>
        </div>
    </div>
</div>   
<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="https://img.rarible.com/prod/image/upload/t_image_big/prod-itemImages/0xd07dc4262bcdbf85190c01c996b4c06a461d2430:254403/7164bdf8" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                <div class="col-sm-4"><img src="static/Desert Nyghts.png" width="200"></div>
                <div class="col-sm-4"><img src="https://f8n-production.imgix.net/creators/profile/aj62tq52y-supafraylogoblackbg-png-9p6kel.png" width="200"></div>
                <div class="col-sm-4">
                    <h1>Desert Nyghts</h1>
                    <h2>Rarible</h2>
                    <br>
                    <h4></h4>
                </div>
              </div>
        </div>
    </div>
</div>   
<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/artifact.gif" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                <div class="col-sm-4"><img src="static/Romanzowave.png" width="200"></div>
                <div class="col-sm-4"><img src="https://code.nikiselken.com/img/nikistyxx.png" width="200"></div>
                <div class="col-sm-4">
                    <h1>Romanzowave</h1>
                    <h2> 🏛 👩🏼‍❤️‍👨🏻 🔮 #unattainablelandscapes</h2>
                    <br>
                    <h4>🏛 🔮 👩🏼‍❤️‍👨🏻 #unattainablelandscapes is part of the Unattainable Landscapes series by Niki Selken. Because of the confinement I've experience due to COVID, I started creating landscapes I could not see while staying at home. Dreamscapes or unattainable landscapes that combine photos of far off places and layered with impossible weather patterns, waving rainbows, and even shimmering hair.</h4>
                </div>
              </div>
        </div>
    </div>
</div>   
<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/nychos.gif" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                <div class="col-sm-4"><img src="static/NYCHOSTHEROLLER.png" width="200"></div>
                <div class="col-sm-4"><img src="https://lh3.googleusercontent.com/joNimVvzwB2lvlceKAqJwvMcKMBxoLxnnZk7ZTcSKUfd5Ehy5MMbOpAX48iOjG_xsQ99AnZXQbSeFDjTx1vCOfK45b_SPCCIY2sg=s0" width="200"></div>
                <div class="col-sm-4">
                    <h1>NYCHOS THE ROLLER</h1>
                    <h2>NYCHOS Awakening Show Tickets</h2>
                    <br>
                    <h4></h4>
                </div>
              </div>
        </div>
    </div>
</div>   
<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="https://content.knownorigin.io/network/mainnet/edition/8000000/card.gif" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                <div class="col-sm-4"><img src="static/MoodieNo042.png" width="200"></div>
                <div class="col-sm-4"><img src="https://user-media.knownorigin.io/media/user/profile/0xb7bdc973b2194b1d3f99bba199e65ba1c81ea9e1" width="200"></div>
                <div class="col-sm-4">
                    <h1>Moodie No. 042</h1>
                    <h2></h2>
                    <br>
                    <h4>What's the difference between moods and emotion? Time. Moods hang around longer. They cling to your brain and body, making it hard to shake them free. Sometimes that's a good thing. Other times it's not. Inspired by mood rings, auras, and color theory, this series uses a unique formula to render cha</h4>
                </div>
              </div>
        </div>
    </div>
</div>   
<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/41.png" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                <div class="col-sm-4"><img src="static/repop3.png" width="200"></div>
                <div class="col-sm-4"><img src="https://pbs.twimg.com/profile_images/1506055503616655364/nF1DB15n_400x400.jpg" width="200"></div>
                <div class="col-sm-4">
                    <h1>RePop #41</h1>
                    <h2>RePop</h2>
                    <br>
                    <h4>Alcohol ink on substrate. Flow without restriction in defiance of 21st century numbing. The Tao follows only itself. </h4>
                </div>
              </div>
        </div>
    </div>
</div>   
<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/71.png" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                <div class="col-sm-4"><img src="static/repop3.png" width="200"></div>
                <div class="col-sm-4"><img src="https://pbs.twimg.com/profile_images/1506055503616655364/nF1DB15n_400x400.jpg" width="200"></div>
                <div class="col-sm-4">
                    <h1> RePop #71</h1>
                    <h2>RePop</h2>
                    <br>
                    <h4>Alcohol ink on substrate. Repopulate your mind. Separation is an illusion. Love is the only truth. </h4>
                </div>
              </div>
        </div>
    </div>
</div>   
<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/3.png" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                <div class="col-sm-4"><img src="static/repop3.png" width="200"></div>
                <div class="col-sm-4"><img src="https://pbs.twimg.com/profile_images/1506055503616655364/nF1DB15n_400x400.jpg" width="200"></div>
                <div class="col-sm-4">
                    <h1>RePop #3</h1>
                    <h2>RePop</h2>
                    <br>
                    <h4>Alcohol ink on substrate. True revolution is Iiberation of the mind. Separation is an illusion. Love is the only truth.</h4>
                </div>
              </div>
        </div>
    </div>
</div>   
<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/58.png" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                <div class="col-sm-4"><img src="static/repop3.png" width="200"></div>
                <div class="col-sm-4"><img src="https://pbs.twimg.com/profile_images/1506055503616655364/nF1DB15n_400x400.jpg" width="200"></div>
                <div class="col-sm-4">
                    <h1>RePop #58</h1>
                    <h2>RePop</h2>
                    <br>
                    <h4>Alcohol ink on substrate. Our lifetime in this body is finite. Love freely. Separation is an illusion. Love is the only truth.</h4>
                </div>
              </div>
        </div>
    </div>
</div>   
<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/114 Shut01.png" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                <div class="col-sm-4"><img src="static/shut01.png" width="200"></div>
                <div class="col-sm-4"><img src="static/white.png" width="200"></div>
                <div class="col-sm-4">
                    <h1>114 Shut01</h1>
                    <h2>114Shut</h2>
                    <br>
                    <h4>114 is the atomic number of a synthetic chemical element which is highly radioactive. Shut comes from making 114 plaster masks. Zero perception, forced to hold your breath, eyes closed, ready to look inside. This edition contains 5K generated unique NFTs.</h4>
                </div>
              </div>
        </div>
    </div>
</div>   
<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/114 Shut02.png" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                <div class="col-sm-4"><img src="static/shut02.png" width="200"></div>
                <div class="col-sm-4"><img src="static/white.png" width="200"></div>
                <div class="col-sm-4">
                    <h1>114 Shut02</h1>
                    <h2>114Shut</h2>
                    <br>
                    <h4>114 is the atomic number of a synthetic chemical element which is highly radioactive. Shut comes from making 114 plaster masks. Zero perception, forced to hold your breath, eyes closed, ready to look inside. This edition contains 5K generated unique NFTs.</h4>
                </div>
              </div>
        </div>
    </div>
</div>   
<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/114 Shut03.png" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                <div class="col-sm-4"><img src="static/shut03.png" width="200"></div>
                <div class="col-sm-4"><img src="static/white.png" width="200"></div>
                <div class="col-sm-4">
                    <h1>114 Shut03</h1>
                    <h2>114Shut</h2>
                    <br>
                    <h4>114 is the atomic number of a synthetic chemical element which is highly radioactive. Shut comes from making 114 plaster masks. Zero perception, forced to hold your breath, eyes closed, ready to look inside. This edition contains 5K generated unique NFTs.</h4>
                </div>
              </div>
        </div>
    </div>
</div>   
<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/ANYO9.jpeg" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                <div class="col-sm-4"><img src="static/anyo9.png" width="200"></div>
                <div class="col-sm-4"><img src="static/white.png" width="200"></div>
                <div class="col-sm-4">
                    <h1>ANYO9</h1>
                    <h2>ANYO Part 1</h2>
                    <br>
                    <h4>100 unique pieces of art divided into four collections. ANYO means shape. Shape of emotion. Sigbin in motion. Filipino folklore. Lore modernised. Looking at loife. Looking back at you. You looking at yourself.</h4>
                </div>
              </div>
        </div>
    </div>
</div>   
<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/ANYO10.jpeg" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                <div class="col-sm-4"><img src="static/anyo10.png" width="200"></div>
                <div class="col-sm-4"><img src="static/white.png" width="200"></div>
                <div class="col-sm-4">
                    <h1>ANYO10</h1>
                    <h2>ANYO Part 1</h2>
                    <br>
                    <h4>100 unique pieces of art divided into four collections. ANYO means shape. Shape of emotion. Sigbin in motion. Filipino folklore. Lore modernised. Looking at loife. Looking back at you. You looking at yourself.</h4>
                </div>
              </div>
        </div>
    </div>
</div>   
<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/ANYO15.jpeg" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                <div class="col-sm-4"><img src="static/anyo15.png" width="200"></div>
                <div class="col-sm-4"><img src="static/white.png" width="200"></div>
                <div class="col-sm-4">
                    <h1>ANYO15</h1>
                    <h2>ANYO Part 1</h2>
                    <br>
                    <h4>100 unique pieces of art divided into four collections. ANYO means shape. Shape of emotion. Sigbin in motion. Filipino folklore. Lore modernised. Looking at loife. Looking back at you. You looking at yourself.</h4>
                </div>
              </div>
        </div>
    </div>
</div>   
<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/ANYO23.jpeg" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                <div class="col-sm-4"><img src="static/anyo23.png" width="200"></div>
                <div class="col-sm-4"><img src="static/white.png" width="200"></div>
                <div class="col-sm-4">
                    <h1>ANYO23</h1>
                    <h2>ANYO Part 1</h2>
                    <br>
                    <h4>100 unique pieces of art divided into four collections. ANYO means shape. Shape of emotion. Sigbin in motion. Filipino folklore. Lore modernised. Looking at loife. Looking back at you. You looking at yourself.</h4>
                </div>
              </div>
        </div>
    </div>
</div>   
<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/ANYO25.jpeg" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                <div class="col-sm-4"><img src="static/anyo25.png" width="200"></div>
                <div class="col-sm-4"><img src="static/white.png" width="200"></div>
                <div class="col-sm-4">
                    <h1>ANYO25</h1>
                    <h2>ANYO Part 1</h2>
                    <br>
                    <h4>100 unique pieces of art divided into four collections. ANYO means shape. Shape of emotion. Sigbin in motion. Filipino folklore. Lore modernised. Looking at loife. Looking back at you. You looking at yourself.</h4>
                </div>
              </div>
        </div>
    </div>
</div>   
<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/BK993.jpg" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                <div class="col-sm-4"><img src="static/bk993.png" width="200"></div>
                <div class="col-sm-4"><img src="static/white.png" width="200"></div>
                <div class="col-sm-4">
                    <h1>BK993</h1>
                    <h2>Bad Kids</h2>
                    <br>
                    <h4>Bad Kids is a collection of 9,999 bad drawings of bad kids</h4>
                </div>
              </div>
        </div>
    </div>
</div>   
<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/BK1027.jpg" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                <div class="col-sm-4"><img src="static/bk1027.png" width="200"></div>
                <div class="col-sm-4"><img src="static/white.png" width="200"></div>
                <div class="col-sm-4">
                    <h1>BK1027</h1>
                    <h2>Bad Kids</h2>
                    <br>
                    <h4>Bad Kids is a collection of 9,999 bad drawings of bad kids</h4>
                </div>
              </div>
        </div>
    </div>
</div>   
<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/BK1061.jpg" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                <div class="col-sm-4"><img src="static/bk1061.png" width="200"></div>
                <div class="col-sm-4"><img src="static/white.png" width="200"></div>
                <div class="col-sm-4">
                    <h1>BK1061</h1>
                    <h2>Bad Kids</h2>
                    <br>
                    <h4>Bad Kids is a collection of 9,999 bad drawings of bad kids</h4>
                </div>
              </div>
        </div>
    </div>
</div>   
<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/BK1536.jpg" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                <div class="col-sm-4"><img src="static/bk1536.png" width="200"></div>
                <div class="col-sm-4"><img src="static/white.png" width="200"></div>
                <div class="col-sm-4">
                    <h1>BK1536</h1>
                    <h2>Bad Kids</h2>
                    <br>
                    <h4>Bad Kids is a collection of 9,999 bad drawings of bad kids</h4>
                </div>
              </div>
        </div>
    </div>
</div>   
<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/Choad6367.png" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                <div class="col-sm-4"><img src="static/Choad6367q.png" width="200"></div>
                <div class="col-sm-4"><img src="static/white.png" width="200"></div>
                <div class="col-sm-4">
                    <h1>Choad6367</h1>
                    <h2>starchoadz✨</h2>
                    <br>
                    <h4>From the immoral mind of @BarfStar come forth the interstellar space lickin, star jumpin, gal humpin Starchoadz ⚛️</h4>
                </div>
              </div>
        </div>
    </div>
</div>   
<div class="mySlides">    
    <div class="full-height100"> 
        <div class="full-height60">
            <div class="fill">
                <img src="static/Choad6377.png" alt="" width="720" height="1280">
            </div>
        </div>  <br><br><br>
        <div class="full-height40">
            <div class="row">
                <div class="col-sm-4"><img src="static/Choad6377q.png" width="200"></div>
                <div class="col-sm-4"><img src="static/white.png" width="200"></div>
                <div class="col-sm-4">
                    <h1>Choad6377</h1>
                    <h2>starchoadz✨</h2>
                    <br>
                    <h4>From the immoral mind of @BarfStar come forth the interstellar space lickin, star jumpin, gal humpin Starchoadz ⚛️</h4>
                </div>
              </div>
        </div>
    </div>
</div>   
